body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #FFF3E0; 
}

/*laila*/
body, h1, h2, h3, h4, h5, h6, p, a, li, span, div {
    font-family: 'Laila', serif;
}

/* montserrat font style */
.montserrat-extralight {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-style: normal;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #EFBDD0; 
    color: #DA6491; 
    padding: 20px 0;
}

.header-content { 
    display: flex; 
    align-items: center;
    margin-left: 20px;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav { 
    flex-grow: 1; 
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    padding-right: 150px; /*moves header links to left*/
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #DA6491; 
    text-decoration: none;
    padding: 5px 10px;
    font-size: 1.2em;
}

nav ul li a:hover {
    color: #E48BAD; 
    text-decoration: underline;
}

/* dropdown menu */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF3E0; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    min-width: 160px;
    text-align: left;
    margin-top: 5px;
}

.dropdown-content a {
    color: #DA6491; 
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #E48BAD; 
    color: #FFF3E0; 
}

.dropdown:hover .dropdown-content {
    display: block;
}

main {
    flex: 1 0 auto;
    padding: 2rem;
}

.founders-section, .team-section, .contact-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.founders-section h2, .team-section h2, .contact-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #DA6491; 
}

.founders {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.founder, .team-member {
    text-align: center;
    margin-bottom: 20px;
}

.founder img, .team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
    object-fit: cover;
}

.founder h3, .team-member h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.founder h3 img, .team-member h3 img {
    width: 20px;
    height: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FBEEF3; 
    color: #DA6491; 
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #E48BAD; 
}

#logo {
    max-width: auto;
    height: 400px;
    width: 800px;
    display: block;
    margin: 0 auto;
}

button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #efbdd0; 
    color: #DA6491; 
    border: none;
    border-radius: 4px;
    font-family: 'Laila', serif;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

#learn-more-btn {
    display: block;
    width: 150px;
    padding: 10px 20px; 
    background-color: #efbdd0; 
    color: #DA6491; 
    border: none;
    border-radius: 4px;
    font-family: 'Laila', serif;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}



button:hover {
    background-color: #E48BAD; 
}

.alternative-contact a {
    color: #DA6491; 
    text-decoration: none;
}

.alternative-contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: #EFBDD0; 
    color: #DA6491; 
    text-align: center;
    padding: 1rem;
    width: 100%;
    flex-shrink: 0; /* footer stays at bottom */
}

.image-gallery { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1px; 
    padding: 1px;
}

.image-gallery img{ 
    max-width: 30%;
    height: auto; 
    object-fit: cover;
    border-radius: 8px;
}

/*
.image-gallery img:hover {
    transform: scale(1.05);
}

.image-gallery img.bottom-right {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    object-position: center;
}
*/

.title-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
}
.resources-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.mission-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.projects-image {
    width: 100%;
    height: auto;
    object-fit: cover; 
}

.quotes-image {
    width: 60%;
    height: auto;
    object-fit: cover; 
    padding-left: 20%;
}

.story-image {
    display: block; 
    margin: 0 auto; 
    width: 70%;
    height: auto;
    object-fit: cover; 
}

.contactus-image {
    display: block; 
    margin: 0 auto; 
    width: 40%;
    height: auto;
    object-fit: cover; 
}

.hero {
    text-align: center;
    padding: 40px 20px;
    background-color: #FBEEF3; 
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #DA6491; 
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #DA6491; 
}

.hero img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.hero-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.about, .updates, .quotes {
    padding: 40px 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.about h2, .updates h2, .quotes h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #DA6491; 
}

.about p, .updates p, .quotes p {
    font-size: 1.2em;
    color: #000000; 
    text-align: center
}

.social-media img {
    width: 30px;
    height: 30px;
}

.image-grid {
    --gap: 16px;
    --num-cols: 4;
    --row-height: 500px;

    box-sizing: border-box;
    padding: var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

.carousel-container {
    max-width: 600px;
    margin: 0 auto;
}

.carousel-inner img {
    height: auto;
    max-height: 400px;
    object-fit: cover;
}

.about-section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.about-section h2 {
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: #DA6491; 
}

.updates-section h2 {
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: #DA6491; 
}

.quotes-section h2 {
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: #DA6491; 
}

.projects-list h3 {
    text-align: center;
    font-family: 'Laila', sans-serif;
    font-size: 2em;
    margin-bottom: 20px;
    color: #DA6491; 
}

.story-text {
    text-align: justify;
    font-size: 1.1em;
    margin-bottom: 20px;
    line-height: 1.6;
    color: #DA6491;
}

body.index, body.mission, body.contact {
    background-color: #FFF3E0; 
}

/* header specific styles */
.header-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px; 
}

.header-logo {
    max-height: 50px;
    margin-right: 20px; /* space between the logo and the title */
}

.site-title {
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 700;
    font-size: 2rem; 
    color: #da6491; 
    margin-top: 20px;
}

.mission-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 50px; 
}

/* contact padding (claire advice !!) */ 
form input, form textarea {
    margin-bottom: 10px; 
    padding: 10px;
    width: 100%; 
    box-sizing: border-box; 
}

form button {
    margin-top: 20px; 
    padding: 10px 20px; 
    background-color: #efbdd0; 
    color: #DA6491;
    border: none; 
    border-radius: 4px;
    font-family: 'Laila', serif; 
    font-size: 1.2em; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

form button:hover {
    background-color: #E48BAD; /* Change color on hover */
}

